body{
	background-image: url('background.png');
	margin: 0px;
	padding: 0px;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	background-position: -20px -50px;
}

#button{
	border: 2px solid gray;
	color: gray;
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 700px;
	padding: 10px;
	width: 130px;
	height: 35px;
	font-size: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-size: 2em;

}

#buttonHover{
	border: 2px solid white;
	color: white;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 700px;
	padding: 10px;
	width: 130px;
	height: 35px;
	font-size: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-size: 2em;
}
