<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<link href="../static/css/index.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="button"><a href="index.html">PLAY</a></div>
		 <script>
			var button = document.getElementById("button");
			button.onmouseover = function(){
				this.style.color="white";
				this.style.color="2px solid white";
			}
			button.onmouseout = function(){
				this.style.color="gray";
				this.style.color="2px solid gray";
			}
			button.onclick= function(){
				 window.location.assign("index.html");
		}
		</script> 
	</body>
</html>
